.registration {
    width: 100%;
  
    .registrationContainer {
        width: 15%;
        display:inline-block;
        align-items: center;
        justify-content: center;
        padding:15px 100px 15px 30px;
        margin: 2% 40%;
        border: 0.5px solid black;
        border-radius: 8px;

        .top{
            margin-top: 2px;
        }
        hr{
            height: 0;
            border: 0.5px solid rgb(198, 195, 195);
        }
        .bottom{
            padding-top: 5px;
            width: 300%;
            justify-content: left;
            .formInput {
                width: 40%;
                padding: 8px 0;
                label {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding: 2px;
    
                  .icon {
                    cursor: pointer;
                  }
                }
    
                input {
                  width: 100%;
                  padding: 5px;
                  border: none;
                  border-bottom: 1px solid gray;
                }
              }
              button {
                width: 150px;
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin: 8px 0px;
            }
        }
    }
}