.navbarContent{
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    font-size: 14px;
    justify-content: right;
    margin-right: 25px;

    .navBtn{
      text-decoration: none;
      margin:5px;
      color: #7451f8;
      font-weight: 600;
      padding: 5px 15px 5px 15px !important;
      border-radius: 5px;
      box-shadow: 2px 2px 3px #b5bfb6;
    }

    .navBtn:hover{
      background-color: #ac97f8 !important;
      box-shadow: none;
      box-shadow: inset 2px 2px 3px #ffffff;
    }

    .wrapper{
        display:flex;
        justify-content: space-between;
        .icon{
          margin-top: 2px;
          align-items: center;
          font-size: 18px;
          color: #7451f8;   
          padding: 5px;   
        }
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 5px;
      
            input {
              border: none;
              outline: none;
              background: transparent;
      
              &::placeholder {
                font-size: 12px;
              }
            }
          }
    span{
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }
    a {
      cursor: pointer;
      padding: 10px;

  }
      a:hover{
        background-color: teal;
        color: white;
      }
}
}