.navbarContent{
    height: 50px;
    width: 100%;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display:flex;
    align-items: center;
    background-color: aliceblue;
    font-size: 14px;
    color: gray;
    justify-content: right;
    margin-right: 25px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(76, 75, 75, 0.47);
    box-shadow: 2px 4px 5px 1px rgb(225, 220, 220, 0.47);

    .wrapper{
        display:flex;
        justify-content: space-between;
        .icon{
          margin-top: 2px;
          align-items: center;
          font-size: 18px;
          color: #7451f8;   
          padding: 5px;   
        }
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 5px;
      
            input {
              border: none;
              outline: none;
              background: transparent;
      
              &::placeholder {
                font-size: 12px;
              }
            }
          }
    span{
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }
    a {
      cursor: pointer;
      padding: 10px;

  }
      a:hover{
        background-color: teal;
        color: white;
      }
}
}