.app.dark{
    background-color:#282c34;
    color:rgb(245, 247, 248) !important;
    .sidebar{
        background-color: #24272d;;
        .top{
            color: rgb(247, 250, 252);
        }
    }
}