.datatable {
    height: 500px;
    padding: 20px;
    
    .datatableTitle{
      width: 100%;
      font-size: 24px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

  
      .link{
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }
    .cellWithCheckIn {
        display: inline-block;
        align-items: center;
        justify-content: center;
        .time{
            justify-content: center;
            font-weight: 800;
            font-size: 12px;
        }
      }
      .cellWithCheckOut {
        display: inline-block;
        align-items: center;

        .time{
            justify-content: center;
            font-weight: 800;
            font-size: 12px;
        }
      }
  
    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;
  
      &.approved {
        background-color: rgba(0, 128, 0, 0.05);
        color: green;
      }
      &.pending {
        background-color: rgba(255, 217, 0, 0.05);
        color: goldenrod;
      }
      &.not.approved {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
      }
    }
  
    .cellAction {
      display: flex;
      align-items: center;
  
      .approveButton {
        padding: 5px 8px;
        border-radius: 5px;
        color: darkblue;
        cursor: pointer;
      }
      .approveButton:hover {
        background-color: #7451f8;
        color: white;
      }
      
      .rejectButton {
        padding: 5px 8px;
        border-radius: 5px;
        color: crimson;
        cursor: pointer;
      }
      .rejectButton:hover {
        background-color: rgb(244, 115, 115);
        color: white;
      }
    }
  }

.MuiDataGrid-root{
  border: 0px !important;
}

  .MuiDataGrid-row{
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #dcd2ff;
  }

  .css-z8fhq1-MuiDataGrid-columnHeaders{
    border: 0px;
    border-radius: 10px;
    background-color: rgb(207, 220, 243);
    box-shadow: 0px 2px 5px #dcd2ff;
    font-size: medium;
    font-weight: 800 !important;
    color: #7451f8;
    padding-left: 10px;
  }